@media screen and (min-width: 576px) {
    .apexcharts-legend {
        width: 450px;
        margin: auto auto;
    }
}

@media screen and (min-width: 768px) {
    .apexcharts-legend {
        width: 650px;
        margin: auto auto;
    }
}

@media screen and (min-width: 992px) {
    .apexcharts-legend {
        width: 750px;
        margin: auto auto;
    }
}