.custom-dropdown {
    height: 2rem;
    width: 2rem;
    position: relative;
    top: 25%;
    left: 65%;
    border: none;

    background-color: transparent;
    background-image: url("../icons/download.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 1.5rem 1.5rem;
}

/* .custom-dropdown:active {

} */

.dropdown-menu {
    position: absolute;
    top: 3.5rem;
    right: 1rem;
}

.dropdown-item {
    cursor: pointer;
}